@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Tourists Reservation Hotel">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="/reservation/css/font-awesome.css" rel="stylesheet">
    <link href="/reservation/css/wickedpicker.css" rel="stylesheet" type='text/css' media="all" />
    <link href="/css/style_home.css"ge rel='stylesheet' type='text/css' />
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>
<body>
    <h1 style="margin-top:150px; color:black; font-size:50px;">WELCOM TO OUR HOTEL!</h1>
</body>
</html>
